:root {
  --logo-blue-color: #4d5ae5;
  --logo-buttons-sectionfour-index-background-color: #f4f4fd;
  --text-site-colour: #2e2f42;
  --logo-titles-color: #2e2f42;
  --background-page-color: #fff;
  --address-text-color: #434455;
}

/*Setting up the font for the entire page */
body {
  font-family: "Roboto", sans-serif;
  color: var(--address-text-color);
  background-color: var(--background-page-color);
}

/* CLASSES*/
/*Settings for Header */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.hero-section {
  background-color: var(--logo-titles-color);
}

.hero-title {
  font-size: 56px;
  line-height: 60px; /* 107.143% */
  text-align: center;
  letter-spacing: 1.12px;
  color: var(--background-page-color);
}

.hero-button {
  background-color: var(--logo-blue-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-page-color);
}

.hero-button:hover,
.hero-button:focus {
  color: #404bbf;
}

/*.logo-first-color -> FOLOSIT*/
.logo-first-colour {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: var(--logo-blue-color);
  font-style: "Raleway";
  text-transform: uppercase;
}

.logo-second-colour-header {
  color: var(--logo-titles-color);
  font-size: 18px;
  font-style: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-weight: 800px;
  font-family: "Raleway", sans-serif;
}

.logo-second-colour-footer {
  color: var(--logo-buttons-sectionfour-index-background-color);
  font-size: 18px;
  font-style: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-weight: 800px;
}

/*Classes common to ALL the pages*/

.images-title {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--logo-titles-color);
}

.images-text {
  color: var(--address-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Classes for Body */

.contacts {
  color: var(--address-text-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.buttons-nav:hover {
  background-color: #404bbf;
  border: none;
  color: #ffffffff;
}

.pointer {
  cursor: pointer;
}

.buttons-text {
  color: var(--logo-blue-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--logo-buttons-sectionfour-index-background-color);
}

/* Classes for INDEX page*/
.section4-background {
  background-color: var(--logo-buttons-sectionfour-index-background-color);
}

.images-index-our-team {
  background: #ffffff;
  justify-content: center;
  background: var(--background-page-color);
}

.images-text-index {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Classes for PORTFOLIO Page */

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
